.faq-cover {
    background-color: white;
    border-radius: 32px;
}

.faq__items {
    width: 1200px;
    margin-bottom: 40px;
}

.faq__items details:not(:last-child) {
    margin-bottom: 16px;
}

.faq details {
    position: relative;
    font-size: 18px;
}

.faq summary {
    padding-right: 373px;
    padding: 40px 120px 40px 40px;
    cursor: pointer;
    display: block;
    color: #171717;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    min-height: 20px;
}

.faq summary::before {
    content: "";
    position: absolute;
    right: 40px;
    top: 32px;
    width: 40px;
    height: 40px;
    background: rgba(23, 23, 23, 0.05);
    border-radius: 12px;
    z-index: 0;
}

.faq summary::after {
    content: "";
    position: absolute;
    right: 40px;
    top: 32px;
    width: 40px;
    height: 40px;
    background: url("/images/Vector.svg") center/14px 8px no-repeat;
    transition: all 0.4s ease 0s;
}

.faq summary {
    width: 707px;
    height: 27px;
}

.faq p {
    padding: 0 40px 40px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #333333;
}

.faq details[open] summary {
    padding: 40px 120px 20px 40px;
}

.faq details[open] summary::after {
    transform: rotate(-180deg);
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        transform: translate(-20px, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translate(-20px, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.faq details[open] p {
    animation: slide 0.4s ease 0s;
    color: #333333;
}

.faq {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.faq__btn button {
    font-family: "Roboto";
    width: 243px;
    height: 54px;
    background: #333333;
    border-radius: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 130%;
    color: white;
}

.faq__btn button:hover {
    background: white;
    color: black;
    cursor: pointer;
}

.faq__btn button:active {
    background: #606060;
    color: white;
}

.faq__request {
    margin-top: 120px;
    width: 1200px;
height: 159px;
    display: flex;
    width: 1200px;
height: 159px;
background: #1749B3;
box-shadow: 0px 4px 24px rgba(213, 216, 221, 0.2), 0px 4px 24px rgba(213, 216, 221, 0.2), 0px 12px 28px rgba(244, 245, 245, 0.2);
border-radius: 32px;
}

.faq__request-text h3{
    width: 704px;
    padding: 40px 80px 21px 60px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 140%;
color: white;
}

.faq__request-text p{
    padding: 0px 0px 40px 60px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: white;
}

.faq__request-btn button{
    margin-top: 53px;
    font-family: 'Roboto';
    font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 130%;
    width: 296px;
height: 54px;
background: #FFFFFF;
border-radius: 16px;
border: none;
cursor: pointer;
}

.faq__request-btn button:hover{
    background: #1749B3;
    color: white;
    border: 1px solid #FFFFFF;
border-radius: 16px;
}

.faq__request-btn button:active{
    background: rgba(255, 255, 255, 0.8);
    border-radius: 16px;
    color: black;
}


@media screen and (max-width: 1300px){
    .faq__items{
        width: auto;
    }
    .faq__request{
        width: auto;
        margin-top: 100px;
        justify-content: space-between;
    }
    .faq__request-text h3{
        padding-right: 0;
        width: auto;
        padding-left: 10px;
    }
    .faq__request-text p{
        font-size: 16px;
        padding-left: 10px;
        width: auto;
    }
    .faq__request-btn button{
        margin-right: 10px;
    }
}

@media screen and (max-width: 890px){
.faq summary {
    font-size: 17px;
    width: auto;
    height: auto;
}

.faq__items {
    margin-bottom: 20px;
}

.faq-cover{
    margin: 16px 24px;
}
.faq__btn button{
    width: 243px;
    height: 48px;
}
.faq__request{
    width: 703px;
height: 186px;
}
}

@media screen and (max-width: 726px){
    .faq__request{
        width: 327px;
    height: 314px;
    display: flex;
    flex-direction: column;
    }
    .faq__request-text h3{
        padding: 40px 20px 16px 20px;
    }
    .faq__request-text p{
        padding: 0 20px 32px 20px;
    }
    .faq__request-btn{
        align-self: center;
    margin-bottom: 40px;
    }
    .faq__request-btn button{
        width: 287px;
        height: 48px;
        margin-top: 0;
        margin: 0 20px;
    }
}