.how-work{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.how-work__description{
    background: #FFFFFF;
    box-shadow: 0px 12px 28px rgba(244, 245, 245, 0.2);
    border-radius: 32px;
    width: 388px;
height: 300px;
margin: 36px 16px 20px 0px;
}

.how-work__text-title{
    font-family: 'Roboto';
    font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 140%;
padding: 149px 0px 26px 40px;
}

.how-work__text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
width: 227px;
height: 54px;
padding-left: 40px;
}

.how-work__image{
    float: right;
    padding: 7px 6px 0px 0px;
}

.how-work__image--chats{
    float: right;
    padding: 41px 27px 0px 0px;
}

.how-work__invite{
    display: block;
}

@media screen and (max-width: 950px){
    .how-work__description{
        width: 224px;
        height: 186px;
    }
    .how-work__image{
        width: 81px;
    height: 81px;
    }
    .how-work__text-title{
        font-size: 19px;
        padding: 48px 146px 0 20px;
    }
    .how-work__text{
        font-size: 17px;
        padding: 20px;
        padding-top: 29px;
    }
    .how-work__image--chats{
        width: 80px;
height: 80px;
padding-top: 21px;
    padding-right: 20px;
    padding-bottom: 0px;
    }
}

@media screen and (max-width: 775px){
    .how-work{
        flex-direction: column;
        margin-top: 28px;
    }
    .how-work__description{
        margin: 0;
        width: 327px;
        height: 172px;
    }
    .how-work__text-title{
        padding-bottom: 45px;
    }
    .how-work__text{
        width: 287px;
        font-size: 17px;
        padding: 0 20px 20px 20px;
    }
    .how-work__text br{
        display: none;
    }
    .how-work__description--mobile{
        width: 327px;
    height: 198px;
    margin: 16px 0 16px 0;
    }
}