
  .service__periods a.active {
    color: #fff;
    border: 1px solid #1749b3;
    background: #1749b3;
    cursor: auto;
}
.service__periods a.active:hover{
    background: #1749b3;
}

.service__periods a:nth-child(2) {
    border-radius: 0px 12 12 0px;
}
.service__periods a {
    text-decoration: none;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #030303;
    font-size: 18px;
    transition: all 0.4s ease 0s;
    background: transparent;
    cursor: pointer;
    border: 1px solid #1749B3;
    border-radius: 0px 12px 12px 0px;
    }

    .service__periods a:nth-child(1):hover{
        background-color: rgb(93, 81, 255);
        color: white;
    }