.start-using{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

.start-using__text{
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    width: 592px;
    height: 500px;
    background: #1749B3;
    box-shadow: 0px 4px 24px rgba(213, 216, 221, 0.2);
    border-radius: 32px;
}

.start-using__discount{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: var(--white);
    width: 472px;
height: 100px;
    padding: 114px 0px 0px 60px;
}

.start-using__description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--white);
    width: 472px;
height: 55px;
    padding: 24px  0px 0px 60px;
}

.start-using__button-container{
    display: flex;
    justify-content: center;
    width: 207px;
    height: 54px;
    border-radius: 16px;
    border: 0;
    background-color: var(--white); 
    margin: 40px 0px 0px 60px;
}

.start-using__button{
    text-align: center;
    width: 207px;
    color: black;
    line-height: 54px;
    font-family: 'Roboto';
    font-style: normal;
font-weight: 700;
font-size: 17px;
cursor: pointer;
display: inline-block;
text-decoration: none;
text-align: center;
}

.start-using__button:hover{
    background: #1749B3;
    color: white;
    border: 1px solid #FFFFFF;
border-radius: 16px;
}

.start-using__button:active{
    background: rgba(255, 255, 255, 0.8);
    border-radius: 16px;
    color: black;
}

.start-using__image{
    box-shadow: 0px 12px 28px rgba(244, 245, 245, 0.2);
    border-radius: 32px;
    width: 592px;
    height: 500px;
    background-color: var(--white);
}

.start-using__images{
    width: 592px;
}

@media screen and (max-width: 1130px){


    .start-using__image{
        width: 334px;
        height: 290px;
    }
    .start-using__image img{
        width: 334px;
        height: 290px;
    }
    .start-using__text{
        width: 334px;
        height: 290px;
    }
    .start-using__text *{
        padding: 0;
    }

    .start-using__text h1{
        font-size: 28px;
        padding: 23px 20px 16px 20px;
        width: 295px;
    }
    .start-using__text p{
        padding: 0px 20px 32px 20px;
        width: 295px;
    }
    .start-using__text div{
        margin: 0 0 24px 20px;
    }
    .start-using__button{
        height: 48px;
    }
}

@media screen and (max-width: 690px){
    .start-using{
        display: flex;
        flex-direction: column-reverse;
    }
    .start-using__image{
        width: 327px;
        height: 276px;
    }
    .start-using__image img{
        width: 327px;
        height: 276px;
    }
    .start-using__text{
        margin-top: 16px;
        margin-right: 0;
        width: 327px;
        height: 344px;
    }

    .start-using__text p {
        width: 287px;
        height: 92px;
    }
    .start-using__button-container{
        width: 287px;
        height: 48px;
    }
}